<section class="section-padding footer-mid">
    <div class="container pt-15 pb-20">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="widget-about font-md mb-md-5 mb-lg-0">
                    <div class="logo logo-width-1 wow fadeIn animated">
                        <a href="index.html"><img src="/user-assets/imgs/theme/Logo.png" alt="logo"></a>
                    </div>
                    <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                    <p class="wow fadeIn animated">
                        <strong>Address: </strong>562 Wellington Road, Street 32, San Francisco
                    </p>
                    <p class="wow fadeIn animated">
                        <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
                    </p>
                    <p class="wow fadeIn animated">
                        <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                    </p>
                    <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                    <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                        <a href="#"><img src="/user-assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                        <a href="#"><img src="/user-assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                        <a href="#"><img src="/user-assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                        <a href="#"><img src="/user-assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                        <a href="#"><img src="/user-assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3">
                <h5 class="widget-title wow fadeIn animated">About</h5>
                <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Delivery Information</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms &amp; Conditions</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Support Center</a></li>
                </ul>
            </div>
            <div class="col-lg-6  col-md-3">
                <h5 class="widget-title wow fadeIn animated">My Account</h5>
                <ul class="footer-list wow fadeIn animated">
                    <li><a href="#">Sign In</a></li>
                    <li><a href="#">View Cart</a></li>
                    <li><a href="#">My Wishlist</a></li>
                    <li><a href="#">Track My Order</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Order</a></li>
                </ul>
            
        </div>
    </div>
</section>
<div class="container pb-20 wow fadeIn animated">
    <div class="row">
        <div class="col-12 mb-20">
            <div class="footer-bottom"></div>
        </div>
        <div class="col-lg-6">
            <p class="float-md-left font-sm text-muted mb-0">&copy; 2022, <strong class="text-brand">Evara</strong> - HTML Ecommerce Template </p>
        </div>
        <div class="col-lg-6">
            <p class="text-lg-end text-start font-sm text-muted mb-0">
                Designed by <a href="http://alithemes.com/" target="_blank">Alithemes.com</a>. All rights reserved
            </p>
        </div>
    </div>
</div>
</footer>
<!-- Preloader Start -->
<div id="preloader-active">
<div class="preloader d-flex align-items-center justify-content-center">
    <div class="preloader-inner position-relative">
        <div class="text-center">
            <h5 class="mb-10">Now Loading</h5>
            <div class="loader">
                <div class="bar bar1"></div>
                <div class="bar bar2"></div>
                <div class="bar bar3"></div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Vendor JS-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.all.min.js"></script>
<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
<script src="/user-assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="/user-assets/js/vendor/jquery-3.6.0.min.js"></script>
<script src="/user-assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
<script src="/user-assets/js/vendor/bootstrap.bundle.min.js"></script>
<script src="/user-assets/js/plugins/slick.js"></script>
<script src="/user-assets/js/plugins/jquery.syotimer.min.js"></script>
<script src="/user-assets/js/plugins/wow.js"></script>
<script src="/user-assets/js/plugins/jquery-ui.js"></script>
<script src="/user-assets/js/plugins/perfect-scrollbar.js"></script>
<script src="/user-assets/js/plugins/magnific-popup.js"></script>
<script src="/user-assets/js/plugins/select2.min.js"></script>
<script src="/user-assets/js/plugins/waypoints.js"></script>
<script src="/user-assets/js/plugins/counterup.js"></script>
<script src="/user-assets/js/plugins/jquery.countdown.min.js"></script>
<script src="/user-assets/js/plugins/images-loaded.js"></script>
<script src="/user-assets/js/plugins/isotope.js"></script>
<script src="/user-assets/js/plugins/scrollup.js"></script>
<script src="/user-assets/js/plugins/jquery.vticker-min.js"></script>
<script src="/user-assets/js/plugins/jquery.theia.sticky.js"></script>
<script src="/user-assets/js/plugins/jquery.elevatezoom.js"></script>
<!-- Template  JS -->
<script src="/user-assets/js/maind134.js?v=3.4"></script>
<script src="/user-assets/js/shopd134.js?v=3.4"></script>





</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:09:48 GMT -->
</html>