<%- include("../partials/header") %>





    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Shop
                    <span></span> Your Cart
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table shopping-summery text-center clean">
                                <thead>
                                    <tr class="main-heading">
                                        <th scope="col">Image</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Subtotal</th>
                                        <th scope="col">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="image product-thumbnail"><img src="assets/imgs/shop/product-1-2.jpg"
                                                alt="#"></td>
                                        <td class="product-des product-name">
                                            <h5 class="product-name"><a href="shop-product-right.html">J.Crew Mercantile
                                                    Women's Short-Sleeve</a></h5>
                                            <p class="font-xs">Maboriosam in a tonto nesciung eget<br> distingy
                                                magndapibus.
                                            </p>
                                        </td>
                                        <td class="price" data-title="Price"><span>$65.00 </span></td>
                                        <td class="text-center" data-title="Stock">
                                            <div class="detail-qty border radius  m-auto">
                                                <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                                <span class="qty-val">1</span>
                                                <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                            </div>
                                        </td>
                                        <td class="text-right" data-title="Cart">
                                            <span>$65.00 </span>
                                        </td>
                                        <td class="action" data-title="Remove"><a href="#" class="text-muted"><i
                                                    class="fi-rs-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td class="image"><img src="assets/imgs/shop/product-11-2.jpg" alt="#"></td>
                                        <td class="product-des">
                                            <h5 class="product-name"><a href="shop-product-right.html">Amazon Essentials
                                                    Women's Tank</a></h5>
                                            <p class="font-xs">Sit at ipsum amet clita no est,<br> sed amet sadipscing
                                                et gubergren</p>
                                        </td>
                                        <td class="price" data-title="Price"><span>$75.00 </span></td>
                                        <td class="text-center" data-title="Stock">
                                            <div class="detail-qty border radius  m-auto">
                                                <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                                <span class="qty-val">2</span>
                                                <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                            </div>
                                        </td>
                                        <td class="text-right" data-title="Cart">
                                            <span>$150.00 </span>
                                        </td>
                                        <td class="action" data-title="Remove"><a href="#" class="text-muted"><i
                                                    class="fi-rs-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td class="image"><img src="assets/imgs/shop/product-6-1.jpg" alt="#"></td>
                                        <td class="product-des">
                                            <h5 class="product-name"><a href="shop-product-right.html">Amazon Brand -
                                                    Daily Ritual Women's Jersey </a></h5>
                                            <p class="font-xs">Erat amet et et amet diam et et.<br> Justo amet at dolore
                                            </p>
                                        </td>
                                        <td class="price" data-title="Price"><span>$62.00 </span></td>
                                        <td class="text-center" data-title="Stock">
                                            <div class="detail-qty border radius  m-auto">
                                                <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                                <span class="qty-val">1</span>
                                                <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                            </div>
                                        </td>
                                        <td class="text-right" data-title="Cart">
                                            <span>$62.00 </span>
                                        </td>
                                        <td class="action" data-title="Remove"><a href="#" class="text-muted"><i
                                                    class="fi-rs-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td colspan="6" class="text-end">
                                            <a href="#" class="text-muted"> <i class="fi-rs-cross-small"></i> Clear
                                                Cart</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="cart-action text-end">
                            <a class="btn  mr-10 mb-sm-15"><i class="fi-rs-shuffle mr-10"></i>Update Cart</a>
                            <a class="btn "><i class="fi-rs-shopping-bag mr-10"></i>Continue Shopping</a>
                        </div>
                    </div>

                </div>
            </div>
            </div>
            </div>
        </section>
    </main>

    <%- include("../partials/footer") %>


        <script>
            function addToCart(prodId) {
                var quantity = 1
                $.ajax({
                    url: `/addToCart?id=${prodId}`,
                    method: "post",
                    data: {
                        quantity: quantity
                    },
                    success: (res) => {
                        if (res.status === true) {
                            location.reload()
                            Swal.fire({
                                title: 'Added to Cart!',
                                text: 'Continue Shopping',
                                icon: 'success',
                                timer: 3000,
                                showConfirmButton: false
                            })
                        } else if (res.status === "outOfStock") {
                            Swal.fire({
                                title: 'Stock!!',
                                text: "the products is out of stock",
                                icon: 'fail',
                                timer: 5000
                            })
                        }else{
                            alert("error occured")
                        }
                    }
                })
            }
        </script>