<%- include("../partials/header") %>





    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Shop
                    <span></span> Your Cart
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table shopping-summery text-center clean">
                                <thead>
                                    <tr class="main-heading">
                                        <th scope="col">Image</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Subtotal</th>
                                        <th scope="col">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                   
                                    <% for (let i = 0; i < array.length; i++) {
                                        const element = array[i];
                                        
                                    } %>

                                </tbody>
                            </table>
                        </div>
                        <div class="cart-action text-end">
                            <a class="btn  mr-10 mb-sm-15"><i class="fi-rs-shuffle mr-10"></i>Update Cart</a>
                            <a class="btn "><i class="fi-rs-shopping-bag mr-10"></i>Continue Shopping</a>
                        </div>
                    </div>

                </div>
            </div>
            </div>
            </div>
        </section>
    </main>

    <%- include("../partials/footer") %>


        <script>
            function addToCart(prodId) {
                var quantity = 1
                $.ajax({
                    url: `/addToCart?id=${prodId}`,
                    method: "post",
                    data: {
                        quantity: quantity
                    },
                    success: (res) => {
                        if (res.status === true) {
                            location.reload()
                            Swal.fire({
                                title: 'Added to Cart!',
                                text: 'Continue Shopping',
                                icon: 'success',
                                timer: 3000,
                                showConfirmButton: false
                            })
                        } else if (res.status === "outOfStock") {
                            Swal.fire({
                                title: 'Stock!!',
                                text: "the products is out of stock",
                                icon: 'fail',
                                timer: 5000
                            })
                        }else{
                            alert("error occured")
                        }
                    }
                })
            }
        </script>