<%- include("../partials/header") %>

<section class="mt-50 mb-50">
    <div class="container">
        <div class="row">

            <!-- Product List Column (Left Side) -->
            <div class="col-md-12">
                <div class="order_review">
                    <div class="mb-20">
                        <h4>Your Orders</h4>
                    </div>
                    <!-- ... (rest of the product list HTML) ... -->
                    <div class="table-responsive order_table text-center">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th colspan="2">Product</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="image product-thumbnail"><img src="assets/imgs/shop/product-1-1.jpg" alt="#"></td>
                                    <td>
                                        <h5><a href="shop-product-full.html">Yidarton Women Summer Blue</a></h5> <span class="product-qty">x 2</span>
                                    </td>
                                    <td>$180.00</td>
                                </tr>
                                <!-- Add more product rows as needed -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Order Summary and Payment Column (Right Side) -->
            <div class="row">
            <div class="col-6 mt-80 ">
                <div class="payment_method">
                    <div class="mb-25 ml-150">
                        <h5>Payment</h5>
                    </div>
                    <div class="payment_option ml-150">
                        
                            <div class="custome-radio">
                                <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios3" checked="">
                                <label class="form-check-label" for="exampleRadios3" data-bs-toggle="collapse" data-target="#bankTranfer" aria-controls="bankTranfer">Direct Bank Transfer</label>
                                <div class="form-group collapse in" id="bankTranfer">
                                    <p class="text-muted mt-5">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration. </p>
                                </div>
                            </div>
                            <div class="custome-radio">
                                <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios4" checked="">
                                <label class="form-check-label" for="exampleRadios4" data-bs-toggle="collapse" data-target="#checkPayment" aria-controls="checkPayment">Check Payment</label>
                                <div class="form-group collapse in" id="checkPayment">
                                    <p class="text-muted mt-5">Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode. </p>
                                </div>
                            </div>
                            <div class="custome-radio">
                                <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios5" checked="">
                                <label class="form-check-label" for="exampleRadios5" data-bs-toggle="collapse" data-target="#paypal" aria-controls="paypal">Paypal</label>
                                <div class="form-group collapse in" id="paypal">
                                    <p class="text-muted mt-5">Pay via PayPal; you can pay with your credit card if you don't have a PayPal account.</p>
                                </div>
                          
                        </div>
                    </div>
                    <div class="col-6 mt-80">
                        <div class="toggle_info">
                            <span><i class="fi-rs-label mr-10"></i><span class="text-muted">Have a coupon?</span> <a href="#coupon" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">Click here to enter your code</a></span>
                        </div>
                        <div class="panel-collapse collapse coupon_form" id="coupon">
                            <div class="panel-body">
                                <p class="mb-30 font-sm">If you have a coupon code, please apply it below.</p>
                                <form method="post">
                                    <div class="form-group">
                                        <input type="text" placeholder="Enter Coupon Code...">
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-md" name="login">Apply Coupon</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
           
                <div class="container col-6 mt-3">
                  
                    <table class="table mt-95">
                        <tbody>
                            <tr>
                                <th>SubTotal</th>
                                <td class="product-subtotal" colspan="2">$280.00</td>
                            </tr>
                            <tr>
                                <th>Shipping</th>
                                <td colspan="2"><em>Free Shipping</em></td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td colspan="2" class="product-subtotal"><span class="font-xl text-brand fw-900">$280.00</span></td>
                            </tr>
                            
                        </tbody>
                    </table>
                    <div class="ml-65">
                        <a href="#" class="btn btn-fill-out btn-block mt-30">Place Order</a>

                    </div>
                </div>
            </div>
               


          
        </div>
    </div>
</section>

<%- include("../partials/footer") %>
