<%- include("../partials/header") %>

<section class="content-main mt-80 mb-80">
    <div class="card mx-auto card-login">
        <div class="card-body container col-4">
            <h4 class="card-title mb-4">Change Password</h4>
            <form method="post" action="/changePassword">
                <div class="mb-3">
                    <input class="form-control" name="newPass1" placeholder="Enter new password" type="password" required style="border: 1px solid #ced4da;">
                </div>
                <div class="mb-3" style="position: relative;">
                    <input class="form-control" name="newPass2" id="password" placeholder="Re-enter new password" type="password" required style="border: 1px solid #ced4da;">
                    <button id="togglePassword" class="border-0" type="button" style="position: absolute; top: 50%; right: 5px; transform: translateY(-50%);">
                        <i class="fas fa-eye"></i>
                    </button>
                </div>
                <div class="mb-4">
                    <button type="submit" class="btn btn-primary w-100">Change Password</button>
                </div>
                <!-- Display flash messages --> 
                <% if (locals.message && message.length > 0) { %>
                    <div id="alertMessage" class="alert alert-danger">
                        <%= message %>
                    </div>
                <% } %>
            </form>
            <p class="text-center mb-4">Don't have an account? <a href="/signup">Sign up</a></p>
        </div>
    </div>
</section>

<%- include("../partials/footer") %>
